.body {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    min-height: 100vh;
    max-height: 100vh;
    background-color: black;
}
body {
    background-color: black;
}
/*BROS MOVIES FONT*/
.navbar-brand{
    font-family: netflix, sans-serif;
    font-size: xxx-large;
    margin-left: 550px;
    color: #ffffff !important;
    transform: scale(1.05);
}
.navbar-brand:hover {
    transform: scale(1.05);
}
/* CUSTOM FONT */
@font-face {
    font-family: netflix;
    src: url("/font/netflix-font.otf") ;
}
.form-inline {
    margin-right: 40px;
}
.card {
    width: 302px;
    transition: all ease .2s;
    border-radius: 20px;
    background-color: transparent;
    color: white;

}
#movieContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    border-radius: 25px;
    /*overflow-y: scroll;*/
    /*background-color: red;*/
}
.poster-wrapper {
    width: 100%;
    height: 380px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 19px -9px #000;
}

.poster-wrapper img {
    position:absolute;
    height:100%;
    width:100%;
    /*object-fit:cover*/
}

.editTitle {
    display: none;
}
.movieHidden{
    display: none;
}

.card:hover {
    transform: scale(1.05);
}
#movieRating {
    padding: 4px 24px;
}
/*.hiddenInfo {*/
/*    justify-content: center;*/
/*    display: flex;*/
/*}*/
/*.movieHidden {*/
/*    box-sizing: border-box;*/
/*    border-radius: 8px;*/
/*}*/