.card {
    width: 200px;
}
#movieContainer {
    display: flex;
}
.poster-wrapper {
    width: 100%;
    height: 380px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 19px -9px #000;
}

.poster-wrapper img {
    position:absolute;
    height:100%;
    width:100%;
    object-fit:cover
}